@charset "utf-8"
html {
  font-size: 100%;
}
body{
    background-color: #FFFAFA
}
h1 {
  color: #0bd;
  font-family: serif;
  text-align: center;
  background-color: #E6C5C5;
  margin-top: 100px;
  margin-right: 400px;
  margin-left: 400px;
  padding: 30px;
  border-width: 10px;
  border-style: ridge;
  border-color: #EA7979;
}
h2 {
  font-weight: bolder;
  text-align: center;
  background-color: #FFEFEF;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px
}
p {
  color: #636363;
  font-size: 25px
  font-family: sans-serif;
}
h3 {
  color: #196037;
  font-weight: bolder;
  text-align: center;
}
li {
  color: #8B8B8B;
  font-size: 17px;
  line-height: 1.7;
}
h6 {
  text-align: center;
  color: #353535;
}

h5{
  text-align: center;
}

aside {
  text-align: center;
  font-size: 15px;
}

table {
  margin-left: auto;
  margin-right:auto;
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: #FFEFEF;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

a{
  text-align: center;
}

aside {
  border: 1px solid #838383;
  margin-left: 400px;
  margin-right: 400px;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
  list-style-type: square;
}
